@import "compass/css3";
@import url('https://fonts.googleapis.com/css?family=Palanquin');
@import url('https://fonts.googleapis.com/css?family=Fira Code');
@import url(//fonts.googleapis.com/css?family=Lato:300:400);

:root{
  background-color: black;
  --dark: #121515;
  --gray: #8d8d8d;
  --lightgray: #e9e9e9;
  --lightgreen: #00ff22;
  --green: #2ea73e;
  --darkgreen: #23652c;
  --icongreen: #10d735;
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', sans-serif;
    box-sizing: border-box;    
  
    
    /* border: 1px solid red; */
    
}

 *::-webkit-scrollbar {
  display: none;
}

.title
{
    font-size: 300%;
}


p {
  /* font-family: 'Lato', sans-serif; */
  letter-spacing: 1px;
  font-size:14px;
  color: white;
}

.header {
  color:white;
  position:relative;
  background: linear-gradient(60deg, rgb(25, 25, 25) 0%, rgb(114, 114, 114) 100%);
  
}

.inner-header {
  height:30vh;
  width:100%;
  margin: 0;
  padding-top: 60px;
}

.flex { /*Flexbox for containers*/
  display: flex;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}



/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:5px;
    min-height:10px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}



/* navbar stuff */


#menuToggle{
  display: block;
  position: fixed;
  top: 50px;
  left: 2px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle a
{
  
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}
#menuToggle a:hover
{
  box-sizing: content-box;
  border-radius: 5px;
  padding: 8px;
  color: rgb(0, 255, 102);
  box-shadow: inset 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
}
#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: fixed;
  top: 8px;
  left: 10px;
  
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  top: -34px;
  left: 18px;
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position:relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2)
{
  
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span
{
  
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #b71414;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{  
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
#menu
{
  backdrop-filter: blur(2px);
  background: #89898968;
  border-radius: 10px 0px 0px 10px;
  border-color: rgba(0, 0, 0, 0.066);
  border-style: solid;
  border-width: 1;
  

  padding-bottom: 10px;
  padding-top: 6px;
  padding-left: 10px;
  
  position: fixed;

  text-align: left;
  
  right: 0;
  left: 60px;
  top: 0;
  width: 100%;
  list-style-type: none;
  
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li
{
  
  margin-left: 10px;
  margin-right: 10px;
  display: inline;
  font-size: 22px;
  font-style: white;
}
#menuToggle input:checked ~ ul
{
  transform: none;
}
.text-art{
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
  bottom: 0;
  /* user-select: none; */
  color: white;
  font-size: 20px;

  font-family: monospace;
}


.content-padding {
  position:relative;
  height:10vh;
  text-align:center;
  background-color: rgb(0, 0, 0);
}

.bio-wrapper{
  position: relative;
  height: 700px; /* Set the height of the wrapper element */
  overflow: hidden; /* Hide any overflow from the wrapper element */
}
.bio-background {
  display: flex;
  justify-content: center;
  text-align: right;
  background: rgb(0, 0, 0);
  position: absolute;
  top: 10;
  left: 0;
  height: 150%;
  width: 100%;
  z-index: -1;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 0.3s;
  -webkit-font-smoothing: antialiased;
}
.bio-wrapper:hover .bio-background {
  transform: translate3d(0, -20%, 0); /* Adjust the Y-axis value to change the parallax effect */
  -webkit-font-smoothing: antialiased;
}

.bio{
  
  /* backdrop-filter: blur(1px); */
  /* border: solid 6px black; */
  /* backdrop-filter: invert(80%); */
  background-color: rgba(128, 128, 128, 0);
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%); /* Center the content using translate */
  z-index: 0; /* Set the z-index of the content above the background */
  
}
.bio-flex-container{
  
  position: absolute;
  height: 30%;
  width: 210%;
  top: 30%;
  left: 0%;
  right: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/* .bio-flex-container{
  position: absolute;
  height: 30%;
  width: 80%;
  top: 30%;
  left: 10%;
  right: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
} */




.bio-flex-column{
  /* background-color: rgb(50, 69, 53); */
  background-color: var(--dark);
  flex-basis: 30%;
  border-radius: 40px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  /* border: 2px white solid; */
  color: white;
  backdrop-filter: blur(2px);
}

.bio-flex-column h6{
  font-size: 19px;
}
/* .bio-flex-column{
  background-color: rgba(186, 186, 186, 0.301);
  flex-basis: 30%;
  border-radius: 10px;
  border: 2px white solid;
  color: white;
  backdrop-filter: blur(2px);
} */








ul li {
  padding-top: .5em;
}


h2 {
  border: 2px solid white;
  border-radius: 5px;
  padding: .5em;
  display: inline-block;
}


.resume{
  width: 85%;
  /* width: 950px; */
  margin: 0 auto;
  color: white;
  font-family: 'Fira Code', sans-serif;
}

.resume hr {
  display: flex;
  border: 1px solid white;

}

.resume .full-qual {
  width: 100%;
  margin: 0 auto;
}

.resume .qual {
  margin-bottom: 40px;
}

.resume .qual hr {
  margin: 0 auto;
  width: 100%;
}

.resume .data {
  height: 250px;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.resume .data .data-item {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
}

.resume .data .data-item h5 {
  position: absolute;
  bottom: 10px;
  white-space: nowrap;
  border-bottom: 2px solid white;
}

.resume .data .data-item span {
  position: absolute;
  bottom: 13px;
  border-left: 2px solid white;
}


.resume #job-siue{
  z-index: 1;
  left: 23%;
  border-left: 360px solid transparent;
  border-right: 360px solid transparent;
  border-bottom: 0px solid var(--lightgreen);
  opacity: 0.5;
  transition: border-bottom 1.5s;
}
.resume #job-siue h5 {
  position: absolute;
  bottom: 33px
}

.resume #job-usb {
  z-index: 7;
  left: 48%;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 0px solid var(--lightgray);
  transition: border-bottom 1.5s;
}

.resume #job-usb h5 {
  position: absolute;
  bottom: 33px;
}


.resume #job-bing-shop {
  z-index: 6;
  left: 33%;
  opacity: .5;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 0px solid var(--lightgreen);
  /* border-bottom: 0px solid rgb(67, 255, 74); */
  transition: border-bottom 1.5s;
}

.resume #job-bing-shop h5 {
  position: absolute;
  left: -71px;
  bottom: 63px;
}

.resume #job-bing-shop span{
  line-height: 51px;
}

.resume #job-bing-field {
  z-index: 4;
  left: 9%;
  border-left: 310px solid transparent;
  border-right: 310px solid transparent;
  opacity: .5;
  border-bottom: 0px solid var(--green);
  transition: border-bottom 1.5s;
}

.resume #job-bing-field h5 {
  position: absolute;
  left: -78px;
  bottom: 33px;
}

.resume #job-olivers {
    z-index: 6;
    left: 80%;
    /* left: 300px; */
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    opacity: .8;
    border-bottom: 0px solid var(--lightgray);
    transition: border-bottom 1.5s;
  }
  
  .resume #job-olivers h5 {
    text-align: right;
    position: absolute;
    bottom: 63px;
  }
  
  .resume #job-olivers span {
    line-height: 50px;
  }



  .resume .years {
    text-align: justify;
  }
  
  .resume .years .middot {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 58px;
    color: var(--gray);
    line-height: 20px;

  }
  
  .resume .years .year-list {
    
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-top: -18px;
  }
  
  .resume .years * {
    display: inline;
    list-style-position: outside;
    padding: 0;
  }
  
  .resume .years span {

    display: inline-block;
    position: relative;
    
    width: 100%;
    height: 0;
  }
 







footer{
  background-color: var(--dark);
  color: white;
}
.footer-container{
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: center;
}
.footer-flex-child{
  flex-basis: 0;
  flex-shrink: 1;
  /* flex-grow: 1; */
  /* min-width: 650px; */
}

.contact-info-container{
  display:flex;
  justify-content: center;
  flex-flow: column wrap;

  align-self: center;
  padding: 5%;
  min-width: 550px;
  max-width: 1000px;
  flex-grow: 1;
  
  /* flex-basis: 0;
  flex-shrink: 0;
  flex-grow: 2;
  min-width: 500px; */
}

.references-container{
  
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  flex-grow: 7;
  min-width: 400px;
  max-width: 900px;
  /* width: 100%; */
  /* max-width: 800px;
  flex-basis: 0;
  flex-shrink: 1;
  flex-grow: 2;
  min-width: 100px; */
}

.references-inner-container{
  
  /* width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center; */
  
}
.references-content{
  
  display: flex;
  /* width: 100%; */
  /* max-width: 500px; */
  
  flex-direction: column;
  
  /* flex: [flex-grow] [flex-shrink] [flex-basis];
     flex: [max] [min] [ideal size]; */
  
  
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 300px;
  
  
  min-width: 400px;
  
}



.references-content-header{
  padding: 5%;
  display: flex;
  justify-content: space-between;
} 

.references-content-header img{
  max-width: 100px;
  max-height: 100px;
}

#reference-1{
  background-color: rgb(57, 158, 60);
  padding: 2%;
  
}
#reference-2{
  background-color: rgb(26, 44, 35);
  padding: 6%;
}
#reference-3{
  background-color: rgb(67, 98, 85);
  padding: 6%;
}


.icons ul{
  margin-top: 30px;
  width: 100%;
}

.icons ul, li{
  display: inline-block;
  text-align: left;  
}

.icons li img{
  
  width: 40px;
  height: 40px;
  display: block;
}

.icons li a{
  margin: 0 2px 0 2px;
  display: block;
  
  border-radius: 100%;
  box-shadow: inset 0 0 0 0 var(--icongreen);
  
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.icons li a:hover{
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition:  0.5s;
  border-radius: 20%;
  box-shadow: inset 60px 40px 0 0 var(--icongreen);
}

.svg-color-white{
  filter: invert(100%);
}
